.cardComponent {
  margin: 10px auto;
  width: 95%;
  background-color: white;
  height: auto;
  border-radius: 5px;
  padding: 20px 30px;
}

/* .cardComponent .cardBody img {
  display: block;
  margin: 10px auto;
  height: auto;
  width: auto;
} */

.cardComponent .cardHeader .userInfos img {
  border: solid 1px cadetblue;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0 10px 0 0;
}

.cardComponent .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardComponent .cardBody .noImage p {
  text-align: center;
  text-decoration: underline;
}

.cardComponent .cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardComponent .cardFooter .activityInfos {
  width: 30%;
}

.cardComponent .cardFooter .activityInfos .dealTitle {
  font-weight: 700;
  font-size: 15px;
}

.cardComponent .cardFooter .activityInfos .dealPrice {
  font-weight: 700;
  color: red;
}

.cardComponent .cardFooter .dealDescription {
  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 0 10px;
  border: 1px solid grey;
}

.cardComponent .cardFooter .dealDescription .descriptionSubtitle {
  font-weight: 700;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .cardComponent {
    padding: 10px;
  }

  .cardComponent .cardFooter .activityInfos {
    width: auto;
  }

  .cardComponent .cardFooter {
    display: flex;
    flex-direction: column;
  }

  .cardComponent .cardBody img {
    display: block;
    margin: 10px auto;
    height: auto;
    width: 100%;
  }
}
