.mainBodyComponent {
  width: 70%;
  margin: auto;
}

.mainBodyComponent .mainBodyCards {
  margin-bottom: 30px;
}

.mainBodyComponent .loadMore {
  width: 70%;
}

.mainBodyComponent .deleteButton {
  width: 70%;
}

@media only screen and (max-width: 600px) {
  .mainBodyComponent {
    width: 100%;
    margin: 0;
  }

  .mainBodyComponent .loadMore {
    width: 100%;
  }

  .mainBodyComponent .deleteButton {
    width: 100%;
  }
}
